* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    --light--blue--color: rgb(2, 2, 229);
    --gold--color: #daa520;
    --white--color: #fff;
    --silver--color: #f8f8f8;
    --black--color: #000;
    --dark--gradient: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65));
}

a {
    color: var(--white--color);
}

.title {
    color: var(--gold--color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.foot-title {
    color: var(--white--color);
    font-size: 20px;
    font-weight: 600;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
    background: var(--gold--color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

nav .links li:nth-child(5) {
    background: var(--white--color);
    padding: 8px 13px;
    border-radius: 6px;
}

.links li:nth-child(5) a {
    color: var(--gold--color);
}

.links i {
    color: var(--white--color);
    display: none;
    cursor: pointer;
}

/* Main Content */
/* Header */
main .header {
    width: 100%;
    height: calc(100vh - 130px);
    background: var(--dark--gradient), url(./assets/image1.webp) no-repeat center/cover;
    color: var(--white--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25%;
}

.header p {
    font-size: 30px;
    text-align: center;
}

/* About us */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 60px;
    padding: 40px;
}

.about img {
    width: 500px;
    border-radius: 10px;
}

.about .about-text p:not(:last-child) {
    margin-bottom: 20px;
}

/* Our Services */
.our-services {
    background: var(--silver--color);
    text-align: center;
    padding: 40px 25px;
}

.service-title {
    margin-bottom: 40px;
}

.our-services .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.services a img {
    width: 250px;
    height: 150px;
    margin-bottom: 30px;
}

.services a p {
    color: var(--gold--color);
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

/* Contact us */
.contact-us {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--white--color);
    flex-direction: column;
    padding: 40px;
}

.contact-us form {
    width: 450px;
}

form .form-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 7px;
    background: #ddd;
    border: none;
}

.form-group label {
    margin: 20px 0 7px;
}

.form-group textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: var(--gold--color);
    color: var(--white--color);
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.location, .email, .call {
    text-align: center;
    margin-bottom: 15px;
}

.email-text a {
    color: var(--black--color);
}

/* Footer */
footer {
    width: 100%;
    padding: 40px;
    color: var(--white--color);
    background: var(--gold--color);
}

footer .top-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--white--color);
}

.foot {
    flex-basis: 30%;
}

.content, .social-media {
    margin-top: 20px;
}

.content a:hover, .social-media a:hover {
    color: var(--light--blue--color);
    transition: .5s;
}

.foot .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.foot .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.bottom-footer p {
    text-align: center;
}

.bottom-footer a {
    color: var(--silver--color);
}

/* Media Query for responsiveness */
@media (max-width: 500px) {
    .about img {
        width: 300px;
    }
    .contact-us form {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .location, .email, .call {
        width: 100%;
    }
}

@media (max-width: 900px) {
    nav .links li {
        display: none;
    }
    .links i {
        display: block;
    }
    .about {
        flex-wrap: wrap;
    }
    footer .top-footer {
        flex-direction: column;
    }
}